<!-- Login Modal  -->
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-4 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <li class="list-inline-item d-flex justify-content-center"> <a class="nav-link active cor ml-2">REGISTRE-SE</a></li>
                    <div class="tab-content">
    
                        <div class="tab-pane fade px-3 active show" id="loginModalTabRegister" role="tabpanel" aria-labelledby="loginModalLinkRegister">
                          <p class="text-muted text-center">Crie sua conta</p>
                          
                            <div class="form-group">
                              <label class="form-label" for="registerName">Name</label>
                              <input [(ngModel)]="user.nome" class="form-control" id="registerName" type="text" >
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="registerEmail">Email</label>
                              <input [(ngModel)]="user.email" class="form-control" id="registerEmail" type="text">
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="registerPassword">Password</label>
                              <input (input)='confirmSenha($event)' class="form-control" id="registerPassword" type="password">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="registerConfirmPassword">Confirm password</label>
                                <input [(ngModel)]="user.senha"  class="form-control" id="registerConfirmPassword" type="password">
                              </div>
                            <div class="form-group text-center">
                              <button class="btn btn-block btn-outline-dark mt-4" type="submit" (click)='cadastrar()' ><i class="fa fa-user-o" aria-hidden="true"></i> Registre-se</button>
                            </div>

                            <div class="form-group text-center">
                              <a class="btn btn-block btn-outline-dark mt-4" routerLink='/login'> Voltar</a>
                            </div>
                          
                          <hr class="my-3 hr-text letter-spacing-2" data-content="OR CONNECT WITH">
                          
                        <div class="text-center">
                            <button class="btn letter-spacing-0 btn-outline-color m-1 tamBotaoRedes" data-toggle="tooltip" title="" data-original-title="Connect with Facebook" aria-describedby="tooltip514010"><i id="facebook" class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">Connect with Facebook</span></button>
                            <button class="btn letter-spacing-0 btn-outline-color tamBotaoRedes" data-toggle="tooltip" title="" data-original-title="Connect with Google"><i id="google" class="fa fa-google" aria-hidden="true"></i><span class="sr-only">Connect with Google                                      </span></button>
                          </div>
                        </div>
                      </div>
                    
                   