body {
    margin: 0;
    font-family: "vremenagrotesk",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

#facebook:hover{
    color: #3b5998;
}
#google:hover{
    color: #db4a39;
}

.letter-spacing-2 {
    letter-spacing: .2em;
}

.hr-text {
    position: relative;
    height: 1.5rem;
    text-align: center;
    color: rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    line-height: 1em;
}

.hr-text:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: rgba(0,0,0,0.1);
}

.hr-text:after {
    display: inline-block;
    position: relative;
    padding: 0 .5em;
    content: attr(data-content);
    color: #adb5bd;
    background-color: #fff;
    font-size: .8rem;
    line-height: 1.5rem;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn-outline-color {
    color: #212529;
    background-color: #bcac76;
    border-color: #bcac76;
}

.cor {
    color: #bcac76;
}

.tamBotaoRedes{
    height: 40px;
    width: 40px;
}