textarea{
    resize: none;
}

.image {
    width: 100%;
    height: 400px;
}
.display-2 {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.form-control {
    padding-left: 0;
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}

.form-label {
    color: #212529;
    font-weight: bold;
}

.asterisco{
    color: red;
    }

.validacao{
    font-size: .78rem;
    color: red;
    }

@media only screen  and (max-width:600px){

.image{
    width: 100%;
    height: 250px;
}

.faleConosco{
    font-size: 42px;
}

 .h3 {
    margin-bottom: 2rem;
}

button{
    width: 100%;
}
a {
    color: #bcac76;
    text-decoration: none;
    background-color: transparent;
    }

.font-weight-bold {
    font-weight: 700 !important;
    }
}