<div class="container-fluid">
    <div class="row">
        <img src="https://th.bing.com/th/id/R.60164981427a73e47b8cb9a375b23899?rik=8qxvPYGu0HaQpg&pid=ImgRaw&r=0"
            class="img-fluid image" alt="Responsive image">
    </div>
</div>

<div class="container mt-5">
    <div class="row ">
        <div class="col-md-4 text-center t mb-4 mb-md-0">
            <h4>Central de atendimento</h4>
            <p class="text-muted">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="text-muted"><strong>+55 1111-1111</strong></p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Suporte Técnico</h4>
            <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.
            </p>
            <ul class="list-unstyled text-muted">
                <li>info@ecous.com</li>
                <li>suporte@ecous.com</li>
            </ul>
        </div>
        <div class="col-md-4 text-center ">
            <h4>Address</h4>
            <p class="text-muted">13/25 New Avenue<br>New Heaven, 45Y 73J<br>England, <strong>Great Britain</strong></p>
        </div>
        <div class="col-md-4 text-center text-md-left mb-4 mb-md-0">
        </div>
    </div>
</div>
<hr>
<div class="container mt-5 ">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 mr-3">
            <h5 class="display-2 font-weight-bold mb-4 mb-lg-5" style="line-height: 1;">Fale Conosco</h5>
            <ul class="list-inline h3 mb-6 mb-lg-0">
                <li class="list-inline-item mr-4"><a href="#"><i class="fa fa-facebook-f"> </i></a></li>
                <li class="list-inline-item mr-4"><a href="#"><i class="fa fa-instagram"> </i></a></li>
            </ul>
        </div>

        <div class="col-lg-8 col-xl-6 ">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label" for="nameContact">Nome *</label>
                        <input class="form-control form-control-underlined" type="text" name="nameContact" id="name"
                            required="required">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label" for="surnameContact">Sobrenome *</label>
                        <input class="form-control form-control-underlined" type="text" name="surnameContact"
                            id="surname" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="emailContact">Email *</label>
                <input class="form-control form-control-underlined" type="email" name="emailContact" id="email"
                    required="required">
            </div>
            <div class="form-group">
                <label class="form-label" for="messageContact">Mensagem*</label>
                <textarea class="form-control form-control-underlined" rows="4" name="messageContact" id="message"
                    required="required"></textarea>
            </div>
            <button class="btn btn-outline-primary mt-3" type="submit">Envie </button>
        </div>


    </div>
</div>