body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.login{
    font-size: 1.4rem;
}
span{
    font-size: 1rem;
}

.link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
input{
    border: 1px solid rgba(0, 0, 0, 0.3);

}

button {
    width: 6rem;
    background-color: #BCAD76;
    color: #fff;
    font-weight: 500;
    transition: 0.533ms ease-in-out;
}

button:hover{
    background-color: #fff;
    color:  #BCAD76;
    border: 1px solid #BCAD76;
}

div .img{
   text-align: center;
   line-height: 100vh;
   background-color: #BCAD76;
}

a{
    color: #000;
    text-decoration: none;
}
a:hover{
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-width:780px){

    section{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .responsivo{
        width: 100%;
    }

    .link{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .button {
        width: 100%;
        margin-top: 1.2rem;
    }
    button{
        width: 100%
    }

    img{
        display: none;
    }
}