<!-- Carousel -->

<section id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/JI9VTIK.png" class="d-block w-100 h-85" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/q4YNEA6.png" class="d-block w-100 h-85" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/BMafUf8.png" class="d-block w-100 h-85" alt="...">
    </div>
  </div>
 
</section>


<!-- Cards  -->
<div class="bg-gray-100 position-relative">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card card-left text-white text-center">
            <img class="card-img img-scale img-left" src="https://i.imgur.com/HNiWQVM.png" alt="Card image">
          <div class="card-img-overlay d-flex">
            <div class="w-100 py-3 d-flex flex-column justify-content-between">
              <div class="text-lanc">
                <h2>Lançamento</h2>
              </div>
              <div class="text-h2">
                <h2>Kit kids</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-5">
        <div class="card card-right text-white text-center">
          <img class="card-img img-scale img-right" src="https://i.imgur.com/1RsbpD7.png" alt="Card image">
          <div class="card-img-overlay d-flex ">
            <div class="w-100 py-3 d-flex flex-column justify-content-between">
              <div class="text-lanc">
                <h2>Lançamento</h2>
              </div>
              <div class="text-h2">
                <h2>Máscara capilar</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-5">
  <div class="container news">
    <h3 class="text-center title-jum">destaques queridinhos da ecous</h3>
    <p class="lead text-news text-center">O <b>Shampoo KIDS</b> chegou pra revolucionar: limpa os fios e a pele
      suavemente, mantendo a hidratação, além de ser 2 em 1: para o cabelo e corpo. Já a <b>Máscara capilar
        hidratação</b> tem todos os benefícios do cronograma capilar, em uma só máscara, hiper-concentrada.
    </p>
  </div>
</div>

<!-- Lista de Produtos -->

<div _ngcontent-oec-c33="" id="multi-item-example" data-ride="carousel" class="carousel slide carousel-multi-item">
  <div _ngcontent-oec-c33="" class="row">
    <div _ngcontent-oec-c33="" class="col-md-12 d-fluid justify-content-center">
      <div _ngcontent-oec-c33="" class="controls-top d-flex justify-content-around align-items-center">
        <a _ngcontent-oec-c33="" href="#multi-item-example" data-slide="prev" class="btn-floating">
          <i _ngcontent-oec-c33="" aria-hidden="true" class="fa fa-arrow-circle-left"></i>
        </a>
        <div _ngcontent-oec-c33="" class="destaques mt-3 d-flex align-items-center">
          <p _ngcontent-oec-c33="">PRODUTOS EM DESTAQUE</p>
        </div>
        <a _ngcontent-oec-c33="" href="#multi-item-example" data-slide="next" class="btn-floating">
          <i _ngcontent-oec-c33="" aria-hidden="true" class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div _ngcontent-oec-c33="" role="listbox" class="carousel-inner">
    <div _ngcontent-oec-c33="" class="carousel-item active">
      <div _ngcontent-oec-c33="" class="container-fluid justify-content-center">
        <div _ngcontent-oec-c33="" class="row d-flex justify-content-around">
          <div _ngcontent-oec-c33="" class="col-md-3 d-flex justify-content-center" style="float: left;">
            <div _ngcontent-oec-c33="" class="card">
              <div _ngcontent-oec-c33="" class="card-img-wrapper">
                <img _ngcontent-oec-c33="" class="produtoCarousel" alt="" src="https://i.imgur.com/gRj1zXN.jpg" style="width: 90%;">
              </div>
              <div _ngcontent-oec-c33="" class="card-info">
                <h3 _ngcontent-oec-c33="">RASPADINHA DE GUARANÁ</h3>
                <p _ngcontent-oec-c33="" class="descricao">A Raspadinha de Guaraná ameniza o inchaço do corpo.</p>
                <a href="produto/21">
                  <button _ngcontent-oec-c33="" data-toggle="modal" data-target="#saibaMais" class="btn">Saiba Mais</button>
                </a>
              </div>
            </div>
          </div>
          <div _ngcontent-oec-c33="" class="col-md-3 d-flex justify-content-center" style="float: left;"><div _ngcontent-oec-c33="" class="card">
            <div _ngcontent-oec-c33="" class="card-img-wrapper">
              <img _ngcontent-oec-c33="" alt="" class="produtoCarousel" src="https://i.imgur.com/d9ARZK7.png" style="width: 90%;">
            </div>
            <div _ngcontent-oec-c33="" class="card-info">
              <h3 _ngcontent-oec-c33="">ARGILA VERDE NATURAL</h3>
              <p _ngcontent-oec-c33="" class="descricao">Green Clay é a nossa máscara de argila verde, maravilhosa.</p>
              <a href="produto/19">
                <button _ngcontent-oec-c33="" data-toggle="modal" data-target="#saibaMais" class="btn">Saiba Mais</button>
              </a>
            </div>
          </div>
        </div>
        <div _ngcontent-oec-c33="" class="col-md-3 d-flex justify-content-center" style="float: left;">
          <div _ngcontent-oec-c33="" class="card">
            <div _ngcontent-oec-c33="" class="card-img-wrapper">
              <img _ngcontent-oec-c33="" alt="" class="produtoCarousel" src="https://i.imgur.com/wkOd6XP.jpg" style="width: 90%;"></div>
              <div _ngcontent-oec-c33="" class="card-info">
                <h3 _ngcontent-oec-c33="">HIDRATANTE FORTALECEDOR</h3>
                <p _ngcontent-oec-c33="" class="descricao">Pele altamente hidratada e fortalecida 72 horas!</p>
                <a href="produto/17">
                  <button _ngcontent-oec-c33="" data-toggle="modal" data-target="#saibaMais" class="btn">Saiba Mais</button>
                </a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div _ngcontent-oec-c33="" class="carousel-item">
        <div _ngcontent-oec-c33="" class="container-fluid justify-content-center">
          <div _ngcontent-oec-c33="" class="row d-flex justify-content-around">
            <div _ngcontent-oec-c33="" class="col-md-3 d-flex justify-content-center" style="float: left;">
              <div _ngcontent-oec-c33="" class="card">
                <div _ngcontent-oec-c33="" class="card-img-wrapper">
                  <img _ngcontent-oec-c33="" alt="" class="produtoCarousel" src="https://i.imgur.com/9cc8lGQ.png" style="width: 90%;">
                </div>
                <div _ngcontent-oec-c33="" class="card-info">
                  <h3 _ngcontent-oec-c33="">SHAMPOO DETOX</h3>
                  <p _ngcontent-oec-c33="" class="descricao"> Remove todas as toxinas e impurezas, do couro cabelo.</p>
                  <a href="produto/9">
                    <button _ngcontent-oec-c33="" data-toggle="modal" data-target="#saibaMais" class="btn">Saiba Mais</button>
                  </a>
                </div>
              </div>
            </div>
            <div _ngcontent-oec-c33="" class="col-md-3 d-flex justify-content-center" style="float: left;">
              <div _ngcontent-oec-c33="" class="card">
                <div _ngcontent-oec-c33="" class="card-img-wrapper">
                  <img _ngcontent-oec-c33="" alt="" class="produtoCarousel" src="https://i.imgur.com/TrnvOmE.jpg" style="width: 90%;">
                </div>
                <div _ngcontent-oec-c33="" class="card-info">
                  <h3 _ngcontent-oec-c33="">SABONETE JABUTICABA</h3>
                  <p _ngcontent-oec-c33="" class="descricao">Esfoliação intensa e a fragrância marcante da Jabuticaba!</p>
                  <a href="produto/3">
                    <button _ngcontent-oec-c33="" data-toggle="modal" data-target="#saibaMais" class="btn">Saiba Mais</button>
                  </a>
                </div>
              </div>
            </div>
            <div _ngcontent-oec-c33="" class="col-md-3 d-flex justify-content-center" style="float: left;">
              <div _ngcontent-oec-c33="" class="card">
                <div _ngcontent-oec-c33="" class="card-img-wrapper">
                  <img _ngcontent-oec-c33="" alt="" class="produtoCarousel" src="https://i.imgur.com/S7YhjcF.png" style="width: 90%;">
                </div>
                <div _ngcontent-oec-c33="" class="card-info"><h3 _ngcontent-oec-c33="">SHAMPOO NUTRITIVO</h3>
                  <p _ngcontent-oec-c33="" class="descricao"> Seus cabelos ficam macios, sedosos e brilhosos.</p>
                  <a href="produto/10">
                    <button _ngcontent-oec-c33="" data-toggle="modal" data-target="#saibaMais" class="btn">Saiba Mais</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Nossa história -->
  <div class="jumbotron jumbotron-fluid mt-5">
    <div class="container news">
      <h3 class="text-center title-jum">oi, prazer, aqui é a <b>eco</b>us.</h3>
      <p class="lead text-news text-center">
        Sou feita de matérias e ideias revolucionárias, e venho como porta-voz de um sonho: o sonho de equilibrar nosso
        estilo de vida, que tanto amamos, com as necessidades urgentes do nosso planeta. Afinal, cuidar de si e do nosso
        mundo são movimentos que, necessariamente, andam juntos, dentro do mesmo ciclo.
        Nesse caminho, me desfiz de tudo que era excesso e encontrei minha essência na simplicidade - num estilo de vida
        minimalista e em sintonia com a natureza. Trazemos produtos sustentáveis e, ao comprá-los, você automaticamente
        ajuda nosso lar, o planeta Terra. Proponho um novo olhar ao cuidado, com respeito pelo meio ambiente e
        praticidade para uma rotina sustentável possível.
        <br>
        <b class="lead text-center text-news">Você vem comigo?</b>
      </p>
    </div>
  </div>
