<!-- Cabeçalho-->
<section class="hero mt-2">
  <div class="container">
    <!--Cabeçalho--->
    <div class="hero-content">
      <h1 class="hero-heading">Pagamento</h1>
      <div>
        <p class="lead text-muted">Mais um passo e você já está com seu(s) produto(s) em mãos ;)</p>
      </div>
    </div>
  </div>
</section>

<!-- Pagamento-->
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 pr-xl-5">
        <div class="cart mb-5">
          <div class="cart-body">
            <!-- Métodos de Pagamento-->
            <div id="accordion">
              <div class="card border-0 shadow mb-3">
                <div class="card-header bgf" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn bgf" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne"><i class="fa fa-credit-card" aria-hidden="true"></i> Cartão de Crédito
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <form action="#">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label class="form-label" for="card-name">Nome do Titular</label>
                          <input class="form-control" type="text" name="card-name" placeholder="Nome do Titular"
                            id="card-name">
                        </div>
                        <div class="form-group col-md-6">
                          <label class="form-label" for="card-number">Número do Cartão</label>
                          <input class="form-control" type="text" name="card-number" placeholder="Número do Cartão"
                            id="card-number">
                        </div>
                        <div class="form-group col-md-4">
                          <label class="form-label" for="expiry-date">Data de Validade</label>
                          <input class="form-control" type="text" name="expiry-date" placeholder="MM/AAAA"
                            id="expiry-date">
                        </div>
                        <div class="form-group col-md-4">
                          <label class="form-label" for="cvv">Código de Segurança</label>
                          <input class="form-control" type="text" name="cvv" placeholder="123" id="cvv">
                        </div>
                      </div>
                      <div>
                        <a (click)="pedidofeito()" class="btn btn-dark mt-2" > Finalizar Pedido</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card border-0 shadow mb-3">
                <div class="card-header bgf" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn bgf collapsed" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo"> <i class="fa fa-barcode"
                        aria-hidden="true"></i> Boleto
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body py-5">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0 pl-0"><i class="fa fa-print" aria-hidden="true"></i> imprima o
                        boleto e pague no banco</li>
                      <li class="list-group-item border-0 pl-0"> <i class="fa fa-laptop" aria-hidden="true"></i> ou
                        pague pela internet utilizando o código de barras do boleto</li>
                      <li class="list-group-item border-0 pl-0"><i class="fa fa-calendar-o" aria-hidden="true"></i> o
                        prazo de validade do boleto é de 1 dia util</li>
                    </ul>
                    <div>
                      <a (click)="pedidofeito()" class="btn btn-dark mt-2" href="#"> Finalizar Pedido</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-0 shadow mb-3">
                <div class="card-header bgf" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn bgf collapsed" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-qrcode"
                        aria-hidden="true"></i> Pix
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 d-flex justify-content-center "> <img
                        class="cart-item-img" src="https://i.imgur.com/aRAmxy8.png" alt="qrcode-pagamento"></div>
                      <div class="col-md-6 d-flex justify-content-center"><ul class="list-group list-group-flush">
                        <li class="list-group-item border-0 pl-0"><i class="fa fa-mobile" aria-hidden="true"></i>
                          1. abra o app do seu banco ou instituição financeira e entre no ambiente Pix.</li>
                        <li class="list-group-item border-0 pl-0"> <i class="fa fa-qrcode" aria-hidden="true"></i> 2. escolha a opção pagar com qr code e escaneie o código ao lado.</li>
                        <li class="list-group-item border-0 pl-0"><i class="fa fa-check-circle" aria-hidden="true"></i>
                          3. confirme as informações e <a href="">finalize a compra</a> </li>
                      </ul>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Lista de Produtos no Carrinho-->

      <!-- Resumo Pedido-->
      <div class="col-lg-4">
        <div class="card mb-5">
          <div class="card-header">
            <h6 class="mb-0">Resumo do Pedido</h6>
          </div>
          <div class="card-body py-4">
            <p class="text-muted text-sm">Confira os dados do seu pedido aqui.
            </p>
            <table class="table card-text">
              <tr>
                <th class="py-4">Impostos</th>
                <td class="py-4 text-right text-muted"> R$0.00</td>
              </tr>
              <tr>
                <th class="py-4">Frete</th>
                <td class="py-4 text-right text-green">GRÁTIS</td>
              </tr>
              <tr>
                <th class="pt-4">Total</th>
                <td class="pt-4 text-right h3 font-weight-normal">R${{pedido.valorTotal.toFixed(2)}}
                </td>
              </tr>
            </table>
          </div>

        </div>
        <div class="d-flex justify-content-between flex-column flex-lg-row mb-5 mb-lg-0"><a
            class="btn btn-link text-muted mt-2" [routerLink]="['/pedido']"><i class="fa fa-chevron-left"></i> Voltar
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pagamento-->