<div class="container-fluid">
    <div class="row bg-secondary">
        <div class="col-md-12 text-white">
            <a routerLink='/backend' class="text-white text-left">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> início
            </a>

            <h1 class="fs-54 text-center">Categorias</h1>
            <h5 class="fs-18 text-center">Veja aqui todas as Categorias cadastradas ou cadastre uma nova: </h5>

            <div class="row d-flex justify-content-center mt-4 mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <input [(ngModel)]='categoria.nomeCategoria' type="text" class="form-control" id="nomeCategoria" placeholder="Digite o nome da categoria">
                    </div>
                    <div class="form-group">
                        <label for="subCategoria">Sub Categoria:</label>
                        <input [(ngModel)]='categoria.nomeSubcategoria' type="text" class="form-control" id="nomeSubcategoria" placeholder="Digite o nome da sub categoria">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-light" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-5 mt-5">Todas as Categorias</h2>

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">SubCategoria</th>
                    <th scope="col">Funções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let item of listaCategorias'>
                    <th>{{item.idCategoria}}</th>
                    <td>{{item.nomeCategoria}}</td>
                    <td>{{item.nomeSubcategoria}}</td>
                    <td class="d flex justify-content-end">
                        <button class="btn btn-info mr-3" [routerLink]="['/categoria-edit', item.idCategoria]"
                        >Editar</button>
                        <button class="btn btn-danger" [routerLink]="['/categoria-delete', item.idCategoria]"
                        >Apagar</button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>

</div>
