<div class="container-fluid container-fluid-px p-5">
  <div>
    <div class="row justify-content-end">
      <div class="col-md-4">
        <div class="form-group">
          <form class="d-lg-flex ml-auto mr-lg-5 mr-xl-6 my-4 my-lg-0">
            <div class="input-group input-group-underlined">
              <input [ngModelOptions]="{standalone: true}" class="form-control pl-3" type="text"
                placeholder="qual produto você procura?" [(ngModel)]='pesquisaProd' (keyup)='findByNomeProdutos()'
                aria-describedby="button-search">
              <div class="input-group-append ml-0">
                <button class="btn btn-underlined py-0" id="button-search" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <h1 class="font-weight-bold">Todos os Produtos</h1>
    <div class="row">
      <div class="col-xl-8">
        <p class="text-muted">Nossos produtos valorizam o que realmente importa - a essência de cada ingrediente, um
          cuidado inteligente, que respeita processos, usa tecnologia e valoriza a ciência. Beleza que faz bem — para
          <b>você</b> e para o planeta.</p>
      </div>
    </div>
  </div>


  <div class="row pt-5">
    <div class="col-md-12">
      <h5 sidebar-heading>Categorias</h5>
    </div>

    <!-- Todos os produtos e categorias -->
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="font-weight-bold brand-hover sidebar-icon-menu-link active" id="v-pills-home-tab" data-toggle="pill"
          href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Todos os Produtos</a>
        <div *ngFor='let categoria of listaCategorias'>
          <a (click)='listagemCategoria(categoria.idCategoria)'
            class="font-weight-bold brand-hover sidebar-icon-menu-link" id="v-pills-profile-tab" data-toggle="pill"
            href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
            aria-selected="false">{{categoria.nomeSubcategoria}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="card-columns">
            <div class="card border border-white" *ngFor='let item of listaProdutos'>
              <img [routerLink]="['/produto', item.idProduto]" class="card-img" src="{{item.foto}}"
                alt="Imagem do card">
              <div class="position-relative ">
                <h3 class="text-base mb-1 card-title"><a class="text-dark">{{item.nome}}</a></h3><span
                  class="text-gray-500 text-sm">R$ {{item.preco}}</span>
                <div class="product-stars text-xs">
                  <!-- <a class="text-dark  brand-hover" href="#" data-toggle="modal"
                    data-target="#sidebarCart"> add carrinho
                    <i class="fa fa-shopping-cart  mr-2" aria-hidden="true"></i>
                  </a>
                  <a class="text-dark brand-hover position-relative" href="wishlist.html">
                    <i class="fa fa-heart-o ml-1" aria-hidden="true"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="card-columns">
            <div class="card border border-white" *ngFor='let item of categoria.produto'>
              <img [routerLink]="['/produto', item.idProduto]" class="card-img" src="{{item.foto}}"
                alt="Imagem do card">
              <div class="position-relative ">
                <h3 class="text-base mb-1 card-title"><a class="text-dark">{{item.nome}}</a></h3><span
                  class="text-gray-500 text-sm">R$ {{item.preco}}</span>
                <div class="product-stars text-xs"><a class="text-dark  brand-hover" href="#" data-toggle="modal"
                    data-target="#sidebarCart"> add carrinho
                    <i class="fa fa-shopping-cart  mr-2" aria-hidden="true"></i>
                  </a>
                  <a class="text-dark brand-hover position-relative" href="wishlist.html">
                    <i class="fa fa-heart-o ml-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          ...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          ...</div>
      </div>
    </div>
  </div>
</div>
