<div class="container">
    <div class="row pt-5 d-flex justify-content-start">
        <div class="col-md-6 ">
            <div class="">
                <img class="card-img"
                src="{{produto.foto}}"
                alt="Imagem do card">
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="sticky-top" style="top: 100px;">
                <h1 class="mb-4">{{produto.nome}}</h1>
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                  <ul class="list-inline mb-2 mb-sm-0">
                    <li class="list-inline-item h4 font-weight-light mb-0">R$ {{produto.preco}}</li>
                  </ul>
                </div>
                <p class="mb-4 text-muted">{{produto.descricao}}</p>
                <form id="buyForm" action="#">
                  <div class="row">
                    <div class="col-sm-6 col-lg-12 detail-option mb-4">
                      <h6 class="detail-option-heading">Marca: {{produto.marca}}</h6>
                    </div>
                  </div>
                  <div class="input-group w-100 mb-4">
                    <input class="form-control form-control-lg detail-quantity" name="items" type="number" value="1">
                    <div class="input-group-append flex-grow-1">
                      <button class="btn btn-dark btn-block" type="submit"> <i class="fa fa-shopping-cart mr-2"></i>Add carrinho</button>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-6"><a href="#"> <i class="fa fa-heart mr-2"></i>Add lista de desejo </a></div>
                    <div class="col-6 text-right">
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-2"><a class="text-dark text-hover-primary" href="#"><i class="fa fa-facebook-f"> </i></a></li>
                        <li class="list-inline-item"><a class="text-dark text-hover-primary" href="#"><i class="fa fa-pinterest-p"> </i></a></li>
                      </ul>
                    </div>
                  </div>
                  <ul class="list-unstyled">
                    <li><strong>Categorias: </strong> <a class="text-muted" href="#">{{produto.categoriaRelacionada.nomeCategoria}}, {{produto.categoriaRelacionada.nomeSubcategoria}}</a></li>
                  </ul>
                </form>
              </div>
        </div>
    </div>
</div>