<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-3">
     <div class="d-flex flex-column text-white sidebar" style="width: 300px; height: 100vh;">
       <a href="/" class="d-flex align-items-center text-white text-decoration-none">
         <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
         <span class="fs-4">ECOUS</span>
       </a>
       <hr>
       <ul class="nav nav-pills flex-column mb-auto">
         <li class="nav-item">
           <a routerLink='/home' class="nav-link text-white" aria-current="page">
             <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>Início
           </a>
         </li>
         <li>
           <a href="#" class="nav-link text-white">
             <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
             Cadastrar produtos
           </a>
         </li>


         <li>
           <a routerLink='/categoria' class="nav-link text-white">
             <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
             Cadastrar Categoria
           </a>
         </li>

         <li>
           <a routerLink='/categoria' class="nav-link text-white">
             <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
             Cadastrar Subcategoria
           </a>
         </li>
         <li>
           <a routerLink='/login'  class="nav-link text-white">
             <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
             Sair
           </a>
         </li>
       </ul>
       <hr>
     </div>
  
    </div>

    <div class="col-md-9 p-0">
     <table class="table">
       <thead class="thead text-white">
         <tr>
           <th scope="col">ID</th>
           <th scope="col">Produto</th>
           <th scope="col">Categoria</th>
           <th scope="col">Marca</th>
           <th scope="col">Valor</th>
           <th scope="col">Funções</th>
         </tr>
       </thead>
       <tbody>
         
         <tr *ngFor='let item of listaProdutos'>
           <td>{{item.idProduto}}</td>
           <td>{{item.nome}}</td>
           <td>{{item.categoriaRelacionada.nomeSubcategoria}}</td>
           <td>{{item.marca}}</td>
           <td>R$ {{item.preco}}</td>
           <td class="d flex justify-content-end">
             <button class="btn btn-info mr-3" [routerLink]="['/produto-edit', item.idProduto]"
             >Editar</button>
             <button class="btn btn-danger" [routerLink]="['/produto-delete', item.idProduto]"
             >Apagar</button>
         </td>

         </tbody>
     </table>
     
    </div>
   </div>
</div>