.sidebar{
    background-color: #BCAD76;
    height: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #BCAD76;
}

a:hover{
    background-color: hsla(0, 0%, 90%, 0.712);;
}

.thead{
    background-color: #BCAD76;
}

tbody tr:hover{
    cursor: pointer;
    background-color: hsla(0, 0%, 90%, 0.712);
}


/* BUTTONS */

.btnY{
    background-color: #0a044e;
    color: #fff;
}

.btn-delete{
    background-color: #c81939;
    color: #fff;
}