@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');



body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

textarea{
    resize: none;
}

.navbar{
    background-color: #BCAD76;
    padding: .8rem;
    height: auto;
}

.col-md-12{
    height: 100%;
}

.nav-item{
    background-color: transparent;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}

.nav a{
    font-weight: 200;
    font-size: 1.2rem;
    transition: 300ms;
}

.nav a:hover{
    font-weight: 400;
    background-color: hsla(0, 0%, 90%, 0.712);;
}

.thead{
    background-color: #BCAD76;
}

tbody tr{
    transition: 300ms;
}

tbody tr:hover{
    cursor: pointer;
    background-color: hsla(0, 0%, 90%, 0.712);
}




h2{
    font-weight: 300;
}




.content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-top span{
    font-weight: 500;
    font-size: 1.2rem;
}



.buttons{
    display: flex;
    justify-content:space-evenly;
}

button:hover{
    opacity: .7;
}

.btnY{
    background-color: #0a044e;
    color: #fff;
}

.btn-delete{
    background-color: #c81939;
    color: #fff;
}

.btn-top{
    background-color: #6b6d4a;
    color: #fff;
}

.btn-top{
    float: right;
    margin: 1.2rem 0;
}


table{
    height: 100%;
}
tr, tbody{
    text-align: center;
}

.table td, .table th {
    vertical-align:inherit;
}



.content{
    width: 100%;
    height: 100%;
    
}
.txt-inicial{
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.txt-inicial h2{
    width: 100%;
    font-size: 3.3rem;
    font-family: 'Poppins', sans-serif;
}

.marca{
    font-size: 3.6rem;
    color: #6b6d4a;
}



footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BCAD76;
}

footer span{
    color: #fff;
}




@media only screen and (min-width:300px) and (max-width:570px){

    .txt-inicial[_ngcontent-mml-c55] {
        width: 100%;
        height: 83vh;
        display: flex;
        justify-content:left;
       align-items: center;
    }

    .txt-inicial h2{
        width: 100vw;
        font-size: 2.2rem;
        
    }

    .marca{
        font-size: 2.4rem;
    }
}