<div class="container-fluid p-0">
  <div class="row mr-0 ml-0">
    <div class="col-md-2 bg p-0">
      <div class="nav flex-column nav-pills"  style="height: 100vh;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a routerLink='/home' class="nav-link text-white"
        id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings"
        aria-selected="false"><b>eco</b>us</a>
        <a class="nav-link  text-white" id="v-pills-inicio-tab" data-toggle="pill" href="#v-pills-inicio" role="tab"
          aria-controls="v-pills-inicio" aria-selected="true">Início</a>
        <a class="nav-link  text-white" id="v-pills-produto-tab" data-toggle="pill" href="#v-pills-produto" role="tab"
          aria-controls="v-pills-produto" aria-selected="false">Produtos</a>
        <a class="nav-link text-white" id="v-pills-categoria-tab" data-toggle="pill" href="#v-pills-categoria"
          role="tab" aria-controls="v-pills-categoria" aria-selected="false">Categorias</a>
        <a class="nav-link text-white" id="v-pills-usuario-tab" data-toggle="pill" href="#v-pills-usuario" role="tab"
          aria-controls="v-pills-usuario" aria-selected="false">Usuários</a>
        <!-- <a class="nav-link text-white" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Perfil</a> -->
        <a routerLink='/login-backend' routerLinkActive="router-link-active" class="nav-link text-white"
          id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings"
          aria-selected="false">Sair</a>
      </div>
    </div>
    <div class="col-md-10 p-0">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-inicio" role="tabpanel" aria-labelledby="v-pills-inicio-tab">
          <div class="container">
              <h2 class="text-center mt-2">Bem vindos(as) ao sistema de gerenciamento <b>eco</b>us!!</h2>
              <!-- <div class="img mt-4">
                <img src="https://i.imgur.com/kHGDwoc.jpg" alt="logo ecous">
              </div> -->
            </div>
        </div>
        <div class="tab-pane fade " id="v-pills-produto" role="tabpanel"
          aria-labelledby="v-pills-produto-tab">
          <div class="container content-top">
            <span>Sistema de Gerenciamento</span>
            <button class="btn btn-top" data-toggle="modal" data-target="#novoProduto">Cadastrar Produto</button>
          </div>
          <table class="table">
            <thead class="thead text-white">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Marca</th>
                <th scope="col">Valor</th>
                <th scope="col">Funções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of listaProdutos'>
                <td>{{item.idProduto}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.categoriaRelacionada.nomeSubcategoria}}</td>
                <td>{{item.marca}}</td>
                <td>R$ {{item.preco}}</td>
                <td class="buttons">
                  <button class="btn btnY mr-2" [routerLink]="['/produto-edit', item.idProduto]">Editar</button>
                  <button class="btn btn-delete" [routerLink]="['/produto-delete', item.idProduto]">Apagar</button>
                </td>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-categoria" role="tabpanel" aria-labelledby="v-pills-categoria-tab">
          <div class="container content-top">
            <span>Sistema de Gerenciamento</span>
            <button class="btn btn-top" data-toggle="modal" data-target="#novaCategoria">Cadastrar
              Categoria</button>
          </div>
          <table class="table">
            <thead class="thead text-white">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Categoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Funções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of listaCategorias'>
                <td>{{item.idCategoria}}</td>
                <td>{{item.nomeCategoria}}</td>
                <td>{{item.nomeSubcategoria}}</td>
                <td class="buttons">
                  <button class="btn btnY mr-2" [routerLink]="['/categoria-edit', item.idCategoria]">Editar</button>
                  <button class="btn btn-delete" [routerLink]="['/categoria-delete', item.idCategoria]">Apagar</button>
                </td>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-usuario" role="tabpanel" aria-labelledby="v-pills-usuario-tab">
          <div class="container content-top">
            <span>Sistema de Gerenciamento</span>
            <button class="btn btn-top" data-toggle="modal" data-target="#novoUsuario">Cadastrar
              Usuario</button>
          </div>
          <table class="table">
            <thead class="thead text-white">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Funções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let item of listaUsuarios'>
                <td>{{item.idUsuario}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.email}}</td>
                <td class="buttons">
                  <button class="btn btnY mr-2" [routerLink]="['/usuario-edit', item.idUsuario]">Editar</button>
                  <button class="btn btn-delete" [routerLink]="['/usuario-delete', item.idUsuario]">Apagar</button>
                </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL - CADASTRAR PRODUTO -->

<div class="modal fade" id="novoProduto" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Novo Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input [(ngModel)]='produto.nome' type="text" class="form-control" id="nome" placeholder="Digite o nome">
        </div>
        <div class="form-group">
          <label for="foto">Foto:</label>
          <textarea [(ngModel)]='produto.foto' class="form-control" name="foto" id="foto"
            placeholder="Insira o link da foto" rows="1"></textarea>
        </div>
        <div class="form-group">
          <label for="preco">Preço:</label>
          <textarea [(ngModel)]='produto.preco' class="form-control" name="preco" id="preco"
            placeholder="Exemplo: 44.40" rows="1"></textarea>
        </div>
        <div class="form-group">
          <label for="marca">Marca:</label>
          <textarea [(ngModel)]='produto.marca' class="form-control" name="marca" id="marca"
            placeholder="Marca do produto" rows="1"></textarea>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <textarea [(ngModel)]='produto.descricao' class="form-control" name="descricao" id="descricao"
            placeholder="Digite uma descrição aqui..." rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="texto">Escolha uma categoria ou <a data-dismiss="modal" routerLink='/categoria'>cadastre uma
              nova</a>: </label>
          <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
            (change)='findByIdCategoria()'>
            <option *ngFor='let item of listaCategorias' value="{{item.idCategoria}}">
              {{item.nomeSubcategoria}}
            </option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-delete" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btnY" (click)='publicar()' data-dismiss="modal">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL - CADASTRAR PRODUTO -->




<!-- MODAL - CADASTRAR CATEGORIA -->

<div class="modal fade" id="novaCategoria" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="nome">Categoria:</label>
          <input [(ngModel)]='categoria.nomeCategoria' type="text" class="form-control" id="nomeCategoria"
            placeholder="Digite o nome da categoria">
        </div>
        <div class="form-group">
          <label for="foto">Subcategoria:</label>
          <textarea [(ngModel)]='categoria.nomeSubcategoria' class="form-control" name="nomeSubcategoria"
            id="nomeSubcategoria" placeholder="Digite o nome da Subcategoria" rows="1"></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-delete" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btnY" (click)='cadastrarCat()' data-dismiss="modal">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL - CADASTRAR CATEGORIA -->



<!-- MODAL - CADASTRAR USUARIO -->

<div class="modal fade" id="novoUsuario" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Novo Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label" for="registerName">Name</label>
          <input [(ngModel)]="user.nome" class="form-control" id="registerName" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="registerEmail">Email</label>
          <input [(ngModel)]="user.email" class="form-control" id="registerEmail" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="registerPassword">Password</label>
          <input (input)='confirmSenha($event)' class="form-control" id="registerPassword" type="password">
        </div>
        <div class="form-group">
          <label class="form-label" for="registerConfirmPassword">Confirm password</label>
          <input [(ngModel)]="user.senha" class="form-control" id="registerConfirmPassword" type="password">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-delete" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btnY" (click)='cadastrar()' data-dismiss="modal">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIM MODAL - CADASTRAR USUARIO -->


<!-- FOOTER -->

<footer>
  <span>© 2021 Copyright: <b>eco</b>us</span>
</footer>