<div class="container py-6 mt-5">
    <div class="row">
        <div class="col-xl-8">
            <h6 class="text-primary text-uppercase letter-spacing-5 mb-3"> Sobre nós</h6>
          <h1 class="display-3 font-weight-bold mb-5">ecous</h1>
          <p class="text-lg text-muted">Acreditamos que outro viver é possível. Num viver sustentável. Num mundo onde o dar e receber sejam recíprocos. Acreditamos em cuidar de nós e de tudo à nossa volta. Acreditamos na união entre a natureza e os seres humanos. </p>
        </div>
    </div>
</div>


<div class="container pt-4 pb-6">
<div class="row mb-5">

    <div class="col-xl-8">
        <h6 class="text-primary text-uppercase letter-spacing-5 mb-3"> Nosso Projeto</h6>
          <h2 class="display-3 font-weight-bold mb-5">(muda)nça </h2>
    </div>
</div>
<div class="row mb-5">
<div class="col-sm-4">
    <img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/photo/raoul-ortega-2JtF6pYAOOI-unsplash.jpg" alt="">
</div>
<div class= "col-sm-8 col-md-6 offset-md-1 d-flex align-items-center">
    <div>
        <h6 class="text-uppercase text-muted letter-spacing-5 mb-1 mt-3">Pequenas ações, grandes impactos</h6>
        <h2 class="mb-4">Uma muda e já não estamos no mesmo lugar</h2>
        <p class="text-muted">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.</p>
      </div>
</div>
</div>
</div>

<div class="container pt-6 pb-5">
    <div class="row">
        <div class="col-xl-10">
            <h6 class="text-primary text-uppercase letter-spacing-5 mb-3"> Nosso time</h6>
          <h1 class="display-3 font-weight-bold mb-3">Devs</h1>
          <p class="text-muted mb-6">He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
          <div class="row">
                <div class="col-6 col-md-3 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/87526945?v=4" alt="">
                  <h4 class="h6 mb-1">Ana Lima</h4>
                  <p class="text-sm text-muted">Dev. Júnior</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/88200400?v=4" alt="">
                  <h4 class="h6 mb-1">Bárbara Ferreira</h4>
                  <p class="text-sm text-muted">Dev. Júnior</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/88193030?v=4" alt="">
                  <h4 class="h6 mb-1">Beatriz Castro</h4>
                  <p class="text-sm text-muted">Dev. Júnior</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/88197248?v=4" alt="">
                  <h4 class="h6 mb-1">Bruno Daniel</h4>
                  <p class="text-sm text-muted">Dev. Júnior</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/80595156?v=4" alt="">
                  <h4 class="h6 mb-1">Bruno Luna</h4>
                  <p class="text-sm text-muted">Dev. Júnior</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/83474842?v=4" alt="">
                  <h4 class="h6 mb-1">Diego Silva</h4>
                  <p class="text-sm text-muted">Dev. Júnior</p>
                </div>
          </div>
        </div>
    </div>
</div>