<div class="container py-6 mt-5">
  <div class="row">
    <div class="col-xl-8">
      <h6 class="text-primary text-uppercase letter-spacing-5 mb-3"> Sobre nós</h6>
      <h1 class="display-3 font-weight-bold mb-3">ecous</h1>
      <p class="text-lg text-muted text-body">Acreditamos que outro viver é possível. Que podemos cuidar da terra com o amor e
        carinho que ela cuida de nós. </p>
      <p class="text-lg text-muted text-body">Fundada baseando seus princípios comerciais no projeto ODS (Objetivos de
        Desenvolvimento Sustentável) - da Organização das Nações Unidas, pensamos em como poderiamos combater as
        mudanças climáticas e seus impactos, e ainda assim oferecer produtos personalizados e com controle de qualidade
        que só a Ecous pensaria.</p>
      <p class="text-lg text-muted text-body">Como é feito esse controle de qualidade ? Simples, selecionamos os melhores artesãos
        e marcas de produtos ecologicamente corretos e que possuem embalagens não prejudiciais ao meio ambiente e os
        vendemos aqui. Além de adquirirem produtos conscientes, a preços justos, essas vendas são convertidas em mudas
        de árvores nativas da floresta Amazônica.</p>
    </div>
  </div>
</div>


<div class="container pt-4 pb-6">
  <div class="row mb-5">

    <div class="col-xl-8">
      <h6 class="text-primary text-uppercase letter-spacing-5 mb-1"> Nosso Projeto</h6>
      <h2 class="display-3 font-weight-bold ">(muda)nça </h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <img class="img-fluid"
        src="https://images.unsplash.com/photo-1473081556163-2a17de81fc97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80"
        alt="">
    </div>
    <div class="col-sm-8 col-md-6 offset-md-1 d-flex align-items-center">
      <div>
        <h6 class="text-uppercase text-muted letter-spacing-5 mb-1 mt-3">Pequenas ações, grandes impactos</h6>
        <h2 class="mb-4">Uma muda e já não estamos no mesmo lugar</h2>
        <p class="text-lg text-muted text-body">Nosso projeto é fazer com que nossos clientes olhem para a Terra com outros olhos,
          com amor e esperança, por isso 40% do valor de suas compras será convertido pra compra de mudas nativas da
          floresta Amazônica, pensando em um futuro em que o desmatamento não será mais uma realidade, em que a poluição
          atmosférica será revertida e o clima será mais agradável para nós e para as próximas gerações. </p>
        <p class="text-lg text-muted text-body"> <b>Toda gentileza ao meio ambiente, a natureza agradece!</b></p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-5">
  <div class="row">
      <div class="col-xl-10">
          <h6 class="text-primary text-uppercase letter-spacing-5 mb-3"> Nosso time</h6>
        <h1 class="display-3 font-weight-bold mb-3">Devs</h1>
        <p class="text-muted mb-6 text-body">Esse é o time que deixou de apenas sonhar com o amanhã, vestiu as luvas da mudança e
          decidiu fazer a difença com muita integridade, respeito e harmonia entre todos.</p>
        <p class="text-muted mb-6"><i>"O sucesso é a soma de pequenos esforços repetidos dia após dia"</i> - Robert Collier</p>
        <div class="row mt-4">
              <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/87526945?v=4" alt="">
                <h4 class="h6">Ana Lima</h4>
                <p class="text-sm text-muted">Dev. Júnior</p>
                <span  class="d-flex justify-content-center">
                 <a href="https://github.com/Ana-Carolline" target="blank">
                  <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.6rem; height: 1.6rem;" class="mr-2" alt="">
                 </a> 
                 <a href="https://www.linkedin.com/in/ana-carolline-lima-b51701213/" target="blank">
                   <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.6rem; height: 1.6rem;" alt="">
                 </a>
                </span>
              </div>
              <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/88200400?v=4" alt="">
                <h4 class="h6 mb-1">Bárbara Ferreira</h4>
                <p class="text-sm text-muted">Dev. Júnior</p>
                <span  class="d-flex justify-content-center">
                  <a href="https://github.com/bacristiane" target="blank">
                    <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.6rem; height: 1.6rem;" class="mr-2" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/b%C3%A1rbaracfs/" target="blank">
                    <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.6rem; height: 1.6rem;" alt="">
                  </a>
                </span>
              </div>
              <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/88193030?v=4" alt="">
                <h4 class="h6 mb-1">Beatriz Castro</h4>
                <p class="text-sm text-muted">Dev. Júnior</p>
                <span  class="d-flex justify-content-center">
                  <a href="https://github.com/beatrizcastroe" target="blank">
                    <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.6rem; height: 1.6rem;" class="mr-2" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/beatriz-castro009/" target="blank">
                    <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.6rem; height: 1.6rem;" alt="">
                  </a>
                </span>
              </div>
              <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/88197248?v=4" alt="">
                <h4 class="h6 mb-1">Bruno Daniel</h4>
                <p class="text-sm text-muted">Dev. Júnior</p>
                <span  class="d-flex justify-content-center">
                  <a href="https://github.com/BRNDANIEL" target="blank">
                    <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.6rem; height: 1.6rem;" class="mr-2" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/bruno-daniel-b6289021b/" target="blank">
                    <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.6rem; height: 1.6rem;" alt="">
                  </a>
                </span>
              </div>
              <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/80595156?v=4" alt="">
                <h4 class="h6 mb-1">Bruno Luna</h4>
                <p class="text-sm text-muted">Dev. Júnior</p>
                <span  class="d-flex justify-content-center">
                  <a href="https://github.com/Bruno-Luna" target="blank">
                    <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.6rem; height: 1.6rem;" class="mr-2" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/bruno-luna-11590720a/" target="blank">
                    <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.6rem; height: 1.6rem;" alt="">
                  </a>
                </span>
              </div>
              <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://avatars.githubusercontent.com/u/83474842?v=4" alt="">
                <h4 class="h6 mb-1">Diego Silva</h4>
                <p class="text-sm text-muted">Dev. Júnior</p>
                 <span  class="d-flex justify-content-center">
                   <a href="https://github.com/diegobsilva10" target="blank">
                     <img src="https://i.imgur.com/GAlrQOZ.png" style="width: 1.6rem; height: 1.6rem;" class="mr-2" alt="">
                   </a>
                   <a href="https://www.linkedin.com/in/diego-silva-2479711a7/" target="blank">
                     <img src="https://i.imgur.com/IdQ4QKY.png" style="width: 1.6rem; height: 1.6rem;" alt="">
                   </a>
                </span>
              </div>
        </div>
      </div>
  </div>
</div>

<div class="container pt-6 pb-5">
  <div class="row">
    <div class="col-xl-10">
      <h6 class="text-primary text-uppercase letter-spacing-5 mb-3"> Nossos Parceiros</h6>
      <h1 class="display-3 font-weight-bold mb-3">Empresas</h1>
      <p class="text-muted mb-6 text-body">Confira nossas lojas parceiras, que se ergueram com os mesmos princípios e a sede de mudança em que a <b>eco</b>us foi criada:</p>
      <div class="row mt-5">
        <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3"
            style="width: 160px; height: 160px;" src="https://i.imgur.com/zLKkg0Y.png" alt="">
          <h4 class="h6 mb-1">Action for Life</h4>
          <p class="text-muted mb-6">Criada com o intuito de reduzir a desigualdade dentro dos países e entre eles para
            alcançar e sustentar o crescimento da renda da população mais pobre do Brasil.</p>
        </div>
        <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3"
            style="width: 160px; height: 160px;" src="https://i.imgur.com/hFWHZnf.png" alt="">
          <h4 class="h6 mb-1">Baependi</h4>
          <p class="text-muted mb-6">Pautado na visão holística do meio ambiente, voltado a comercialização de produtos
            reutilizados/reciclados, com destaque a artigos feitos á mão.</p>
        </div>
        <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3"
            style="width: 160px; height: 160px;" src="https://i.imgur.com/4c5NzcX.png" alt="">
          <h4 class="h6 mb-1">Eco.Book</h4>
          <p class="text-muted mb-6">A eco.Book acredita que um dos caminhos para o desenvolvimento sustentável é a
            educação. Incentivamos a leitura com consumo consciente: adquirir conhecimentos com o mínimo possível de
            impacto na natureza.</p>
        </div>
        <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3"
            style="width: 160px; height: 160px;" src="https://i.imgur.com/OFzlA2N.png" alt="">
          <h4 class="h6 mb-1">Climatika Store</h4>
          <p class="text-muted mb-6">Um e-commerce empenhado em reduzir impactos ambientais e sociais de consumo com
            produtos ecológicos e parcerias com pequenos empreendedores.</p>
        </div>
        <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3"
            style="width: 160px; height: 160px;" src="https://i.imgur.com/thqqpui.png" alt="">
          <h4 class="h6 mb-1">Gaia Ecommerce</h4>
          <p class="text-muted mb-6">Nossa missão é trazer a dinâmica da ecologia para todos os nossos clientes, e
            também oferecer créditos bônus para compras com nossos parceiros.</p>
        </div>
        <div class="col-6 col-md-4 text-center mb-4"><img class="avatar avatar-xxl shadow-0 mb-3"
          style="width: 160px; height: 160px;" src="https://i.imgur.com/jkapNNHh.jpg" alt="">
        <h4 class="h6 mb-1">Generation Brasil</h4>
        <p class="text-muted mb-6">Nossa missão é transformar sistemas de educação para o emprego de maneira a preparar, colocar e apoiar pessoas em carreiras transformadoras que, de outra forma, seriam inacessíveis. Focamos na criação de valor na atração, seleção e retenção de novos talentos.</p>
      </div>
      </div>
    </div>
  </div>
</div>