<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mt-4 mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <li class="list-inline-item d-flex justify-content-center"> <a class="nav-link active cor ml-2">LOGIN</a>
            </li>
            <div class="tab-content">

              <div class="tab-pane fade px-3 active show" id="loginModalTabRegister" role="tabpanel"
                aria-labelledby="loginModalLinkRegister">
                <p class="text-muted text-center">Entre na sua conta</p>


                <div class="form-group">
                  <label class="form-label" for="registerEmail">Email</label>
                  <input [(ngModel)]="userLogin.email" class="form-control" id="registerEmail" type="text">
                </div>
                <div class="form-group">
                  <label class="form-label" for="registerPassword">Senha</label>
                  <input [(ngModel)]="userLogin.senha" class="form-control" id="registerPassword" type="password">
                </div>

                <div class="form-group text-center">
                  <button (click)='entrar()' class="btn btn-block btn-outline-dark mt-4" type="submit"><i
                      class="fa fa-sign-in" aria-hidden="true"></i>
                    Login</button>
                </div>

                <div class="form-group text-center">
                  <a class="btn btn-block btn-outline-dark mt-4" routerLink='/register'><i class="fa fa-user-plus"
                      aria-hidden="true"></i>
                    Cadastro</a>
                </div>